#landuse {
    padding: 6rem 4rem;
    gap: 1rem;
    /* background-color: black !important; */
    color: white !important;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
    background-image: url('/img/landuse2.png') !important;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50%; /* Adjust these values as needed */
}

#landuse .brand {
    display: flex;
    align-items: center;
    min-width: 50%;
    background-color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#landuse .sub2 {
    margin-bottom: 1rem;
}

#landuse .imgs {
    margin-right: 2rem;
}

#landuse .imgs img {
    width: 400px;
    border-radius: 0.25rem;
}

#landuse .imgs.horizontal {
    display: flex;
    justify-content: space-between;
}

#landuse .sub {
    font-size: 0.75rem;
    color: white;
    font-weight: bold;
}

#landuse .spacer {
    height: 0px;
}

#landuse .btn {
    /* background-color: rgb(113, 6, 236); */
    /* color: white; */
}

/* #landuse img { */
/* width: 400px; */
/* } */

#landuse .title {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

#landuse .sub {
    margin-bottom: 0.5rem;
}

#landuse .info {
    font-size: 0.75rem;
}