#fss {
    padding: 2rem 2rem;
    gap: 1rem;
}

#fss .brand {
    display: flex;
    align-items: center;
}

#fss .imgs {
    margin-right: 2rem;
}

#fss .imgs img {
    width: 300px;
    border-radius: 1rem;
}

#fss .imgs.horizontal {
    display: flex;
    justify-content: space-between;
}

#fss .sub {
    font-size: 0.75rem;
    color: black;
    font-weight: bold;
}

#fss .spacer {
    height: 0px;
}

#fss .btn {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* #fss img { */
    /* width: 400px; */
/* } */

#fss .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

#fss .sub {
    margin-bottom: 0.5rem;
}

#fss .info {
    font-size: 0.75rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0.7rem;
    margin-top: 1rem;
  }
  
  th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }